cloudpickle==3.1.2
fastmcp==3.2.4
lightgbm==4.6.0
matplotlib==3.10.6
mlflow==3.12.0
numerapi==2.21.0
numpy==2.3.5
optuna==4.8.0
pandas==2.3.3
psutil==7.0.0
pyarrow==22.0.0
scipy==1.16.3
torch==2.7.1
xgboost==3.0.2
